<script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKX-cXzMaQuMgh-VYgJM40ymprn_B3Zz8&callback=initMap">
</script>

<div class="text-center"><h1 class="font-weight-light"> Parks </h1><div>
<div class="text-center"><h5 class="font-weight-light">Find Your Next Favorite Park</h5></div>

    <div id="map" style="height:500px; " class="flex-sm-column mx-auto"></div>

    <script>
        var marker;

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5,
                center: {lat: 42.402900, lng: -122.885240}
            });
            <% @parks.filter{|park| park.latitude && park.latitude}.each do |park| %>
            
                marker = new google.maps.Marker({
                    map: map,
                    draggable: false,
                    animation: google.maps.Animation.DROP,
                    position: {lat: <%=park.latitude%>, lng: <%=park.longitude%>},
                    title: "<%=park.name%>"
                });
                marker.addListener('click', function () {
                    // document.getElementById('parkinfo').src = '/parks/<%=park.id%>'
                    window.location.href = '/parks/<%=park.id%>'

                });
            <% end %>
        }
    </script>

</span>

<div class="album">
   <div class="container-fluid">
      <div class="d-flex justify-content-center row">

          <% Park.all.each do |park|%>
                <div class="card m-3" style="width: 20rem;">
                <img class="card-img-top" src= "<%= park.image_url %>" alt="<%=park.name%>"> 
                <div class="card-body">
                    <h5 class="card-title font-weight-light"><%= park.name%>, <%=park.state%></h5>
                    <h6 class="font-weight-light"><p class="card-text">Number of Trails: <%=park.trailcounter%> <br>
                    <p>
                        Activities Available:<br> 
                        <% park.activities.distinct.pluck(:activity_type).each do |x|%>
                            <%= x %>
                        <%end %> 
                            </p>
                    </p></h6>
                    <a class="btn btn-info btn-sm font-weight-light" href="/parks/<%=park.id%>">Check Out This Park</a>
                </div>
                </div>
          <%end%>
       
    </div>
  </div>
</div>
