
<div class="text-center font-weight-light mt-5">
    <h2 class="font-weight-light list-inline-item mt-5"><%= @park.name%></h2><br>
        <%= @park.address %><br>
        <%= @park.city %>
        <%= @park.state %>
        <%= @park.zipcode %><br>
</div>

<img src= "<%= @park.image_url %>" class="rounded mx-auto d-block img-fluid" width="700" height="400"> 

<div class="d-flex justify-content-center row">
    <div>
        <div id="parkmap" ></div>
        <iframe
            width="700"
            height="400"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBKX-cXzMaQuMgh-VYgJM40ymprn_B3Zz8&q=<%=@park.latitude%>,<%=@park.longitude%>&zoom=14" allowfullscreen>
        </iframe>
    </div>
</div>

<h4 class="font-weight-light text-center mt-5">Trails in This Park</h4>

<div class="album font-weight-light">
    <div class="container-fluid text-center">
        <div class="d-flex justify-content-center row">
            <% @park.trails.each do |trail|%>
            <%= render partial: "trails/trail", locals: {trail: trail}%>
        <%end%>
    </div>
  </div>
</div>