
<div id="parks">
    <h2 class="park"><%= @park.name%></h2><br>
    <div class="attribute-wrapper">
        <%= @park.address %><br>
        <%= @park.city %>
        <%= @park.state %>
        <%= @park.zipcode %><br>
        <img src= "<%= @park.image_url %>"> 
    </div>
</div>

<div>
    <div id="parkmap" ></div>
    <iframe
        width="500"
        height="350"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBKX-cXzMaQuMgh-VYgJM40ymprn_B3Zz8&q=<%=@park.latitude%>,<%=@park.longitude%>&zoom=14" allowfullscreen>
    </iframe>
</div>
        

<div id="trails">
    <h2 class="trail"><%= link_to @trail.name, trail_path %></h2><br>
    <div class="attribute-wrapper">
        <b>Length:</b> <%= @trail.length%>mi<br>
        <img src= "<%= @trail.image_url %>"> 
    </div>
</div>

