
<div class="text-center font-weight-light">
    <h2 class="font-weight-light list-inline-item mt-5"><%= @park.name%></h2><br>
        <%= @park.address %><br>
        <%= @park.city %>
        <%= @park.state %>
        <%= @park.zipcode %><br>
</div>

<img src= "<%= @park.image_url %>" class="rounded mx-auto d-block img-fluid" width="700" height="400"> 

<div class="d-flex justify-content-center row">
    <div>
        <div id="parkmap" ></div>
        <iframe
            width="500"
            height="350"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBKX-cXzMaQuMgh-VYgJM40ymprn_B3Zz8&q=<%=@park.latitude%>,<%=@park.longitude%>&zoom=14" allowfullscreen>
        </iframe>
    </div>
</div>

<h4 class="font-weight-light text-center mt-5">Trails in This Park</h4>

<div class="album text-center">
   <div class="container-fluid">
      <div class="d-flex justify-content-center row">
        <div class="card m-3" style="width: 20rem;">
            <img class="card-img-top" src= "<%= @trail.image_url %>" alt="<%=@trail.name%>"> 
            <div class="card-body">
                <h5 class="card-title font-weight-light"><%= link_to @trail.name, trail_path%></h5>
                <h6 class="font-weight-light"><p class="card-text">Length <%=@trail.length%></p></h6>
            </div>
        </div>
    </div>
  </div>
</div>