
<h1><%=link_to @park.name, trails_path%></h1><br>
<%= @park.address %><br>
<%= @park.city %>
<%= @park.state %>
<%= @park.zipcode %><br>
<%= @park.ownership %><br>
GPS: <%= @park.latitude %>  <%= @park.longitude %><br><br>

<h1><%= @trail.name%></h1><br>
Length: <%= @trail.length%>mi<br>
Description: <%= @trail.trail_description%><br>
Route Type: <%= @trail.direction%><br>
GPS: <%= @trail.trail_latitude%> <%= @trail.trail_longitude%><br>