


<h2>Your Liked Trails:</h2>

<%#= render 'trails/trail'%>

 <div class="album ">
   <div class="container-fluid">
      <div class="row">
     <% @user.liked_trails.each do |liked_trail|%>
            <div class="card m-3" style="width: 20rem;">
            <img class="card-img-top" src= "<%= liked_trail.trail.image_url %>" alt="<%=liked_trail.trail.name%>"> 
              <div class="card-body">
                <h5 class="card-title"><%= liked_trail.trail.name%>, <%=liked_trail.trail.park.state%></h5>
                <p class="card-text"> <%=liked_trail.trail.direction.titleize%>. <%=liked_trail.trail.length%> mile(s) long <p><%=liked_trail.trail.park.name%></p>
                <%=link_to "Check Out This trail", trail_path(liked_trail), :class=>"btn btn-primary"%>
              </div>
            </div>
          <%end%>
    </div>
  </div>
</div>








<!--Edit Account -- >