<!--To use this partial, use the following commented out CSS code to on the rendering page above the each statement

<div class="album ">
   <div class="container-fluid">
      <div class="row">

 -->
       
       
<!--Code below only works with in a loop, like .each-->    
<!--Example: something.each do |trail|  -->   
         <div class="card m-3" style="width: 20rem;">
            <img class="card-img-top" src= "<%= trail.image_url %>" alt="<%=trail.name%>"> 

              <div class="card-body">
                <h5 class="card-title"><%= trail.name%>, <%=trail.park.state%></h5>

                <p class="card-text"> <%=trail.direction.titleize%>. <%=trail.length%> mile(s) long <p><%=trail.park.name%></p>
                
                <%=link_to "Check Out This Trail", trail_path(trail), :class=>"btn btn-primary"%>
              </div>
         </div>



<!--To use this partial, use the following commented out CSS code after the render code on rendering page

      <%end%>
    </div>
  </div>
</div>

 -->