<%if flash[:notice]%>
  <%flash.each do |notice, msg| %>
    <h5 class="font-weight-light"></h5>
  <%end%>
<%end%>

<%if flash[:alert]%>
  <%flash.each do |alert, msg| %>
    <h5 class="font-weight-light"></h5>
  
  <%end%>
<%end%>

<div class="text-center font-weight-light mt-5">
  <h2 class="font-weight-light"><%= @trail.name %></h2><br>

<div class="d-flex justify-content-center">
  <div><img src="<%= @trail.image_url %>" class="rounded mx-auto mt-3" width="700" height="400"></div>
    <div class="card m-3" style="width: 20rem;">
      <div class="mt-3"><b>Length:</b> <%= @trail.length%>mi<br></div>
      <div class="container mt-2"><b>Description:</b> <%= @trail.trail_description%><br></div>
      <div class="mt-2"><b>Route Type:</b> <%= @trail.direction%><br></div>
      <div class="text-right mr-2">

      <%= form_tag liked_trails_path(trail_id:@trail) do %>
        <div class="mt-3 d-flex justify-content-center">
            <button type="submit" method="post" class="text-danger pb-0 btn btn-link">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#dc3545">
                <path d="M19.5 10c-2.483 0-4.5 2.015-4.5 4.5s2.017 4.5 4.5 4.5 4.5-2.015 4.5-4.5-2.017-4.5-4.5-4.5zm2.5 5h-2v2h-1v-2h-2v-1h2v-2h1v2h2v1zm-6.527 4.593c-1.108 1.086-2.275 2.219-3.473 3.407-6.43-6.381-12-11.147-12-15.808 0-6.769 8.852-8.346 12-2.944 3.125-5.362 12-3.848 12 2.944 0 .746-.156 1.496-.423 2.253-1.116-.902-2.534-1.445-4.077-1.445-3.584 0-6.5 2.916-6.5 6.5 0 2.063.97 3.901 2.473 5.093z"/>
              </svg>
            </button>
          </div>
      <% end %>
      </div>
    </div>
  </div>
  This trail has been liked: <%=@trail.likescounter%>
</div>


<div class="d-flex justify-content-center row mb-5 ">
  <div class="mt-3">
        <iframe 
        width="700"
        height="400"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBKX-cXzMaQuMgh-VYgJM40ymprn_B3Zz8&q=<%=@trail.trail_latitude%>,<%=@trail.trail_longitude%>&zoom=15"allowfullscreen>
        </iframe>
  </div>
</div>

      