<h1><%= @trail.name%></h1><br>
Length: <%= @trail.length%>mi<br>
Description: <%= @trail.trail_description%><br>
Route Type: <%= @trail.direction%><br>
GPS: <%= @trail.trail_latitude%> <%= @trail.trail_longitude%><br>
<%= @trail.image_url %>

