<%if flash[:success]%>
  <%=%>
<%end%>

<h1><%= @trail.name%></h1><br>
Length: <%= @trail.length%>mi<br>
Description: <%= @trail.trail_description%><br>
Route Type: <%= @trail.direction%><br>
GPS: <%= @trail.trail_latitude%> <%= @trail.trail_longitude%><br>


<%=link_to "Add Trail to My Likes", liked_trails_path(trail_id:@trail), method: :post%>


<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBKX-cXzMaQuMgh-VYgJM40ymprn_B3Zz8&q=<%=@trail.trail_latitude%>,<%=@trail.trail_longitude%>" allowfullscreen>
</iframe>
