<!DOCTYPE html>
<html>
  <head>
    <title>Gitoutside - Find Amazing Parks & Trails | Hike | Mountain Bike</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <p class="navbar-text float-right">
   
    <div class="login">
      <ul class="list-inline p-2 d-flex">
      <% if user_signed_in? %>
        <li class="font-weight-light list-inline-item ml-5">Hi <strong><%= current_user.name %></strong></li>
        <li class="font-weight-light list-inline-item ml-auto ml-5"><%= link_to "Your Liked Trails", user_path(current_user.id)%></li>
        <li class="font-weight-light list-inline-item ml-5"><%= link_to 'Edit Account', edit_user_registration_path, :class => 'navbar-link' %></li>
        <li class="font-weight-light list-inline-item ml-5"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
      <% else %>
          <li><%= link_to "Join", new_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link' %></li>
      <% end %>
      </ul>
    </div>
  </p>


 <!-- <nav class="container-fluid-nav text-center">
      <a id="icon" class="navbar-brand" >
        <img src="https://png.pngtree.com/element_our/sm/20180515/sm_5afae6128cc9c.jpg" width="60" height="60" alt="">
      </a>

      <li><a href="#">Home</a></li>
      <li><a href="/parks">Find a Park </a></li>
      <li><a href="/trails">Find a Trail</a></li>

  </nav> -->

  <nav class="container-fluid-nav text-center">

      <li class="font-weight-light"><a href="/parks">Find a Park </a></li>
      <a id="icon" class="navbar-brand" >
        <img src="https://png.pngtree.com/element_our/sm/20180515/sm_5afae6128cc9c.jpg" width="60" height="60" alt="">
      </a>
      <li class="font-weight-light"><a href="/trails">Find a Trail</a></li>

  </nav>

    <!-- lines below show message if logged in or out successfully -->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

  <%= yield %>

  </body>

</html>
